In [17]:


import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [18]:


RAW_PATH = "../Data/Raw/yellow_tripdata_2025-01.parquet"
PROCESSED_DIR = "../Data/processed"
REPORTS_DIR = "../reports"

os.makedirs(PROCESSED_DIR, exist_ok=True)
os.makedirs(REPORTS_DIR, exist_ok=True)

print("Rutas configuradas:")
print("RAW_PATH      =", RAW_PATH)
print("PROCESSED_DIR =", PROCESSED_DIR)
print("REPORTS_DIR   =", REPORTS_DIR)

Rutas configuradas:
RAW_PATH      = ../Data/Raw/yellow_tripdata_2025-01.parquet
PROCESSED_DIR = ../Data/processed
REPORTS_DIR   = ../reports

In [19]:
RAW_PATH = "../Data/Raw/yellow_tripdata_2025-01.parquet"
PROCESSED_DIR = "../Data/processed"
REPORTS_DIR = "../reports"

os.makedirs(PROCESSED_DIR, exist_ok=True)
os.makedirs(REPORTS_DIR, exist_ok=True)

print("Rutas configuradas:")
print("RAW_PATH      =", RAW_PATH)
print("PROCESSED_DIR =", PROCESSED_DIR)
print("REPORTS_DIR   =", REPORTS_DIR)

Rutas configuradas:
RAW_PATH      = ../Data/Raw/yellow_tripdata_2025-01.parquet
PROCESSED_DIR = ../Data/processed
REPORTS_DIR   = ../reports

In [20]:

print("Processed exists:", os.path.exists(PROCESSED_DIR))
print("Reports exists:", os.path.exists(REPORTS_DIR))
print("Raw file exists:", os.path.exists(RAW_PATH))

Processed exists: True
Reports exists: True
Raw file exists: False

In [24]:

import os

print("Current Working Directory (CWD):")
print(os.getcwd())

Current Working Directory (CWD):
c:\Users\1986d\OneDrive\Desktop\trabajo.big data

In [6]:
import pandas as pd

cols = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime",
    "trip_distance",
    "fare_amount",
    "total_amount",
    "passenger_count",
    "payment_type"
]

df = pd.read_parquet(RAW_PATH, columns=cols)

df.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,fare_amount,total_amount,passenger_count,payment_type
0,2025-01-01 00:18:38,2025-01-01 00:26:59,1.60,10.0,18.00,1.0,1
1,2025-01-01 00:32:40,2025-01-01 00:35:13,0.50,5.1,12.12,1.0,1
2,2025-01-01 00:44:04,2025-01-01 00:46:01,0.60,5.1,12.10,1.0,1
3,2025-01-01 00:14:27,2025-01-01 00:20:01,0.52,7.2,9.70,3.0,2
4,2025-01-01 00:21:34,2025-01-01 00:25:06,0.66,5.8,8.30,3.0,2

In [4]:
df.shape

(3475226, 7)

In [5]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3475226 entries, 0 to 3475225
Data columns (total 7 columns):
 #   Column                 Dtype
---  ------                 -----
 0   tpep_pickup_datetime   datetime64[us]
 1   tpep_dropoff_datetime  datetime64[us]
 2   trip_distance          float64
 3   fare_amount            float64
 4   total_amount           float64
 5   passenger_count        float64
 6   payment_type           int64
dtypes: datetime64[us](2), float64(4), int64(1)
memory usage: 185.6 MB